
h1{
    text-align: center;
    font-size: 24px;
    margin: 100px auto;
}



.menu-container{
    width: 100%;
    height: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}
.button{
    width:250px;
    height:30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    padding:15px;
    margin:30px;
    background-color: grey;
}
.button-1, .button-2, .button-3{
    background: #333;
    color:aliceblue
    
}
.button-4{
    background: #777 ;
    color:beige;
}
